.modal {
	z-index: 999;
	background: rgba(0, 0, 0, 0.7);
	position:fixed;
	top:0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	display:none;
}

.modal.is-open {
	display:flex;
}

.modal-container {
	position:relative;
	background:white;
	padding:1rem;
	max-width: 320px;
	border-radius: 8px;
}

.modal-close {
	position: absolute;
	top:1rem;
	right:1rem;
	background:#dc3545;
	border:none;
	border-radius:50%;
	padding:5px;
	font-weight: bold;
	width: 30px;
	height: 30px;
	color:white;
	transition:0.8s;
}
.modal-close:hover {
	background: darkred;
	transition:0.5s;
}